body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.box {
    background: white;
    padding: 20px;
    margin: 30px auto;
    width: 300px;
    border-radius: 8px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #1e88e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
