<!DOCTYPE html>
<html>
<head>
    <title>File Encryption Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<h1>🔐 File Encryption & Decryption Tool</h1>

<div class="box">
    <h2>Encrypt File</h2>
    <form action="/encrypt" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Encrypt</button>
    </form>
</div>

<div class="box">
    <h2>Decrypt File</h2>
    <form action="/decrypt" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Decrypt</button>
    </form>
</div>

</body>
</html>
